.navbar-main {
    color: white;
    width: 100%;
    z-index: 10;
}

.navbar-logo {
    text-decoration: none;
    color: white;
    cursor: pointer;
    /* margin-left: 2%; */
    padding-right: 0;
}

.navbar-link {
    padding-top: 1 !important;
    padding-left: 0 !important;
}

.navbar-search {
    margin-left: 12px;
}

.final-navbar-link {
    flex-wrap: nowrap;
    padding-right: 0 !important;
}