.song-instance-background {
    height: 100%;
    margin-top: 20px;
}

.song-description-text {
    max-height: 300px;
    min-height: fit-content;
    overflow: scroll;
}

.song-instance-lyrics-text {
    margin-top: 20px;
    margin-bottom: 20px;
}

.song-instance-lyrics-text > h1 {
    margin-top: 60px;
    margin-bottom: 20px;
    font-weight: bold;
}

.song-instance-lyrics-text > p {
    margin: 10px;
    background-color: #e9e9e9;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}