.artist-instance-background {
    height: 100%;
    margin-top: 20px;
}

.artist-description-text {
    max-height: 300px;
    min-height: fit-content;
    overflow: scroll;
}

.artist-songs-container {
    margin: 0px 10px;
    padding-bottom: 10px;
}

.artist-songs-container > h1 {
    font-weight: bold;
    margin-top: 30px;
}

.artist-songs-container > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.artist-song-card {
    width: 20%;
    min-width: 150px !important;
    align-items: center;
    margin: 5px;
}

.artist-song-card > h5 {
    width: -webkit-fill-available;
}

.artist-image-container {
    background: black;
}

.artist-image-container > img {
    width: 200px;
    height: auto;
    max-width: 100%;
}