.splash-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

.splash-body {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

.splash-main-logo {
    margin: 5%;
    color: white;
}

.splash-icon {
    color: black;
    size: 800%;
    align-content: center;
}

.splash-link {
    color: black;
    text-decoration: none;
}

.splash-main-wrapper {
    position: relative;
    overflow: hidden;
}