html, body {
  height: 100%;
  background: black !important;
}

#root {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

.navbar {
  height: 100px;
  padding: 0px 20px;
  background: #131313;
}

.app-container {
  height: 100%;
}

.page-container {
  height: calc(100% - 100px);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
