.album-instance-background {
    height: 100%;
    margin-top: 20px;
}

.album-description-text {
    max-height: 300px;
    min-height: fit-content;
    overflow: scroll;
}

.album-songs-container {
    margin: 20px;
}

.album-songs-container > h1 {
    font-weight: bold;
    margin-top: 30px;
}

.album-songs-container > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.album-song-card {
    width: 20%;
    align-items: center;
    min-width: 150px !important;
    margin: 5px;
}

.album-song-card > h5 {
    width: -webkit-fill-available;
}