.white {
  color: white;
}

.click-row:hover {
  cursor: pointer;
}

.table-link {
  color: #0d6efd;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.spaced {
  margin: 5px;
}